.source-code {
    font-family: source-code-pro, Courier New;
}

.output, .output-bg {
    background-color: #DFDFDF;
}
.container {
    justify-content: center;
    display: flex;
}
.output {
    width: 1em;
    margin-right: 1px;
    margin-bottom: 1px;
    text-align: center;
}

.instr-bg {
    background-color: #E6F3FF;
}

.instr-bg a {
    color: inherit;
    cursor: pointer;
}

.stack-bg {
    background-color: #F8DCB4;
}

.memory-block {
    width: 1.8em;
    display: inline-block;
    text-align: center;
}

.panel-mem {
    display: flex; 
    justify-content: space-between;
}

.panel-mem-title {

}

.marker {
    width: 1.8em;
    color: #FFF;
    border-radius: 2px;
}

.marker-ip {
    background-color: #428BCA;
}

.marker-sp {
    background-color: #EEA236;
}

.marker-a {
    background-color: #4D8C20;
}

.marker-b {
	background-color: #22D19D;
}

.marker-c {
	background-color: #A137ED;
}

.marker-d {
	background-color: #E81F1F;
}

.codelabel-line a {
    cursor: pointer;
}

.code{
    border-radius: 4px;
    border: 2px solid #444444;
    margin-bottom: 5px;
}

.CodeMirror{
    height: 700px !important;
}


@media (prefers-color-scheme: dark){
    body {
        background-color: #121212;
        color: #E0E0E0;
    }

    .memory-block {
        background-color: #2A2A2A;
        border: 1px solid #4A4A4A;
    }

    .output, .output-bg {
        background-color: #5a5a5a;
    }

    .output {
        color: #E0E0E0;
    }

    .instr-bg {
        background-color: #2A3D59;
    }

    .instr-bg a {
        color: #A3D4F7;
    }

    .stack-bg {
        background-color: #503C26;
    }

    .marker-ip {
        background-color: #3579A5;
    }

    .marker-sp {
        background-color: #D49037;
    }

    .marker-a {
        background-color: #5C9C36;
    }

    .marker-b {
        background-color: #36B38C;
    }

    .marker-c {
        background-color: #7E2BB8;
    }

    .marker-d {
        background-color: #D22828;
    }

    .codelabel-line a {
        color: #A3D4F7;
    }

    .navbar-inverse {
        background-color: #333333;
        border: none;
    }

    .navbar-inverse .navbar-brand {
        color: #E0E0E0;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #A3D4F7;
    }

    .panel-default {
        background-color: #2A2A2A;
        border: 1px solid #444444;
    }

    body .panel-default .panel-heading {
        background-color: #444444;
        border-color: #555555;
        color: #E0E0E0;
    }

    .panel-body {
        color: #E0E0E0;
    }
    #sourceCode{
        background-color: #444444;
        color: #E0E0E0;
    }
    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: #444444;
    }
    .speed {
        background-color: #444444;
    }
}